This is your assignment on conditional statement and looping

**Problem-1**<br>
Write a small program to check a number is divisible by 7 or not

In [1]:
a=int(input("enter a number"))
if(a%7==0):
   print(a,"is divisible by 7")
else:
  print(a,"is not divisible by 7")

enter a number49
49 is divisible by 7

**Problem-2**<br>
If a number is divisible by either 5 or 7, then we will call it a 'five-or-seven' number.<br> 
Write down a program to check if a number is 'five-or-seven' number or not.

In [2]:
num=int(input("enter a number:"))
if((num%5==0)or(num%7==0)):
  print("its a five-or-seven number")
else:
  print("its not a five-or-seven number")

enter a number:45
its a five-or-seven number

**Problem-3**<br>
Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria:<br>  
Upto first 100 units Rs. 3 per unit.<br>
Next 100 units Rs. 5 per unit.<br>
Next 300 units Rs. 7 per unit.<br>
Above that, for each unit exceeding 500, Rs. 10 per unit flat.<br>

In [4]:
unit=250
if(unit<=100):
  print(unit*3)
elif(unit<200):
  print(unit*5)
elif(unit<500):
  print(unit*7)
else:
  print(unit*10)

1750

**Problem-4**<br>
Find out sum of square of all the numbers upto 10, starting from 1

In [5]:
num=10
sum=0
while num>0:
  sum=sum+(num*num)
  num=num-1
print (sum)

385

**Problem-5**<br>
Find out sum of square of all the even numbers upto 10, starting from 1

In [6]:
sum=0
for num in range(1,11):
  if(num%2==0):
    sum=sum+(num*num)
  print(sum)

0
4
4
20
20
56
56
120
120
220

**Problem-6**<br>
Check a number is prime or not

In [12]:
num = int(input("enter a number"))
if num>1:
  for i in range(2, int(num/2)+1):
    if(num % i) == 0:
      print(num,"is not a prime no ") 
      break
  else:
      print(num,"is a prime no")

enter a number5
5 is a prime no

**Problem-7**<br>
Print multiplication table upto 10 starting from 1

In [15]:
for num in range(1,11):
  for i in range(1,11):
    print(num,"*",i,"=",num*1)

1 * 1 = 1
1 * 2 = 1
1 * 3 = 1
1 * 4 = 1
1 * 5 = 1
1 * 6 = 1
1 * 7 = 1
1 * 8 = 1
1 * 9 = 1
1 * 10 = 1
2 * 1 = 2
2 * 2 = 2
2 * 3 = 2
2 * 4 = 2
2 * 5 = 2
2 * 6 = 2
2 * 7 = 2
2 * 8 = 2
2 * 9 = 2
2 * 10 = 2
3 * 1 = 3
3 * 2 = 3
3 * 3 = 3
3 * 4 = 3
3 * 5 = 3
3 * 6 = 3
3 * 7 = 3
3 * 8 = 3
3 * 9 = 3
3 * 10 = 3
4 * 1 = 4
4 * 2 = 4
4 * 3 = 4
4 * 4 = 4
4 * 5 = 4
4 * 6 = 4
4 * 7 = 4
4 * 8 = 4
4 * 9 = 4
4 * 10 = 4
5 * 1 = 5
5 * 2 = 5
5 * 3 = 5
5 * 4 = 5
5 * 5 = 5
5 * 6 = 5
5 * 7 = 5
5 * 8 = 5
5 * 9 = 5
5 * 10 = 5
6 * 1 = 6
6 * 2 = 6
6 * 3 = 6
6 * 4 = 6
6 * 5 = 6
6 * 6 = 6
6 * 7 = 6
6 * 8 = 6
6 * 9 = 6
6 * 10 = 6
7 * 1 = 7
7 * 2 = 7
7 * 3 = 7
7 * 4 = 7
7 * 5 = 7
7 * 6 = 7
7 * 7 = 7
7 * 8 = 7
7 * 9 = 7
7 * 10 = 7
8 * 1 = 8
8 * 2 = 8
8 * 3 = 8
8 * 4 = 8
8 * 5 = 8
8 * 6 = 8
8 * 7 = 8
8 * 8 = 8
8 * 9 = 8
8 * 10 = 8
9 * 1 = 9
9 * 2 = 9
9 * 3 = 9
9 * 4 = 9
9 * 5 = 9
9 * 6 = 9
9 * 7 = 9
9 * 8 = 9
9 * 9 = 9
9 * 10 = 9
10 * 1 = 10
10 * 2 = 10
10 * 3 = 10
10 * 4 = 10
10 * 5 = 10
10 * 6 = 10
10 * 7 = 10
10 * 8 = 10
10 * 9 = 10
10 * 10 = 10

**Problem-8**<br>
Print the series of first n fibonacci numbers

In [17]:
n=int(input("enter a number"))
a=0
b=1
for i in range(0,n):
  c=a+b
  a=b
  b=c
  print(c)

enter a number9
1
2
3
5
8
13
21
34
55